/* Section Services ============================= */


  /* Example CSS styles for the services section */
  .section-services {
    background-color: #f5f5f5;
    padding: 20px;
  }
  
  .section-services h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .section-services p {
    color: #666;
    font-size: 16px;
  }
  
  /* Section Works ============================= */
 
  
  /* Example CSS styles for the works section */
  .section-works {
    background-color: #eaeaea;
    padding: 20px;
  }
  
  .section-works h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .section-works p {
    color: #666;
    font-size: 16px;
  }
  
  /* Section About Us ============================= */
  
  
  /* Example CSS styles for the about us section */
  .section-about-us {
    background-color: #f8f8f8;
    padding: 20px;
  }
  
  .section-about-us h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .section-about-us p {
    color: #666;
    font-size: 16px;
  }
  
  /* Section Latest News ============================= */
 
  
  /* Example CSS styles for the latest news section */
  .section-latest-news {
    background-color: #f3f3f3;
    padding: 20px;
  }
  
  .section-latest-news h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .section-latest-news p {
    color: #666;
    font-size: 16px;
  }
  
  /* Section Testimonials ============================= */
  
  
  /* Example CSS styles for the testimonials section */
  .section-testimonial {
    background-color: #fcfcfc;
    padding: 20px;
  }
  
  .section-testimonial h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .section-testimonial p {
    color: #666;
    font-size: 16px;
  }
  
  /* Section Contact ============================= */
  
  
  /* Example CSS styles for the contact section */
  .section-contact {
    background-color: #f9f9f9;
    padding: 20px;
  }
  
  .section-contact h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .section-contact p {
    color: #666;
    font-size: 16px;
  }
  
  /* Rest of your CSS code for other sections goes here */
  
  